body {
    background-color: #F5F5F5;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
.wrapper {
    max-width: 1000px;
    min-width: 600px;
    height: 600px;
    background-color: white;
    margin: 80px auto;
    box-sizing: border-box;
    padding: 2%;
}
header {
    width: 100%;
    height: 16%;
}
.level_1 {
    width: 100%;
    height: 50%;
    background-color: #155767;
    box-shadow: 0 2px 2px #707070;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.logo {
    width: 15%;
    height: 100%;
    background-color: white;
    border: 1px #155767 solid;
    float: left;
    border-radius: 0 50px 50px 0;
    box-shadow: 1px 0 #707070;
}
.znaki {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 2%;
    align-items: center;
}
.z1, .z2, .z3, .z4 {
    width: 20px;
    height: 20px;
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
}
.z1 {
    background-image: url(../Pict/header/Icon-home.png);
    margin-top: 5px;
    width: 35px;
}
.vibir2 {
    display: flex;
    box-sizing: border-box;
    color: #F5F5F5;
    font-size: 14px;
    align-items: center;
}
.z2 {
    background-color: #F5F5F5;
    border: 1px #F5F5F5 solid;
    border-radius: 50%;
    background-image: url(../Pict/header/Icon-image.png);
    background-size: 60%;
    background-position: center;
    display: block;
    align-items: center;
    margin-right: 7px;
}
.z3 {
    background-image: url(../Pict/header/Icon-notifications.png);
}
.z4 {
    background-image: url(../Pict/header/Icon-logout.png);
}
.level_2 {
    width: 25%;
    height: 35%;
    float: right;
    margin-top: 7px;
    display: flex;
    border: 1px #707070 solid;
}
.level_2_1, .level_2_2 {
    width: 85%;
    height: 100%;
    background-color: #00BFFF;
    box-sizing: border-box;
    padding: 7px 25px;
}
.ref {
    color: #F5F5F5;
    text-decoration: none;
    font-weight: 700;
}
.level_2_2 {
    width: 15%;
    background-color: black;
    background-image: url(../Pict/header/Icon-refresh.png);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: center;
    border: 1px #707070 solid;
}
main {
    width: 100%;
    height: 84%;
    display: flex;
    justify-content: space-between;
}
.navi, .cont {
    width: 25%;
    height: 100%;
    border: 1px #707070 solid;
    display: flex;
    box-sizing: border-box;
}
.navi_l {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25%;
    box-sizing: border-box;
}
.n1, .n2, .n3, .n4, .n5, .n6 {
    width: 55%;
    height: 30px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
}
.n1 { background-image: url(../Pict/navi/Icon_1.png); }
.n2 { background-image: url(../Pict/navi/Icon_2.png); }
.n3 { background-image: url(../Pict/navi/Icon_3.png); }
.n4 { background-image: url(../Pict/navi/Icon_4.png); }
.n5 { background-image: url(../Pict/navi/Icon_5.png); }
.n6 { background-image: url(../Pict/navi/Icon_6.png); }
.navi_r {
    width: 75%;
    height: 100%;
    padding-top: 22%;
    box-sizing: border-box;
}
ul { list-style: none; margin-left: -40px; }
.navi_m {
    text-decoration: none;
    text-transform: none;
    color: black;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
}
.bold { font-weight: 700; }
.cont {
    width: 75%;
    padding: 1%;
    box-sizing: border-box;
    flex-direction: column;
}
.cpo {
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.cpo_l {
    width: 40px;
    height: 40px;
    background-image: url(../Pict/MAN.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-y: 7px;
    background-position-x: 3px;
    }
.cpo_l1 { float: left; font-weight: 700; color: #707070; }
.cpo_r {
    width: 32%;
    height: 100%;
    position: relative;
    left: 58%;
    display: flex;
    justify-content: space-between;
}
.cpo_r01 {
    width: 85%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 3%;
    padding-left: 12%;
    box-sizing: border-box;
    background-color: #00BFFF;
}
.cpo_r1 {
    color: #F5F5F5;
    text-decoration: none;
    font-weight: 700;
}
.cpo_r2 {
    width: 15%;
    height: 100%;
    display: flex;
}
.cpo_r21 {
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url(../Pict/Icon-plus.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}
h3 { margin-left: 6%;}
form {
    width: 100%;
    height: 30px;
    margin-top: 1%;
    display: flex;
    padding: 0 6%;
    box-sizing: border-box;
    justify-content: space-between;
}
.form1, .form2 {
    width: 27%;
    height: 100%;
}
.form2 { width: 70%;}
select {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px #707070 solid;
    color: #707070;
}
input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px #707070 solid;
}
input[type="search"] {
    background-image: url(../Pict/Icon.png);
    background-repeat: no-repeat;
    background-size: 7%;
    background-position-x: 1%;
    padding-left: 10%;
}
input[type="text"] {
    text-align: center;
}
table {
    width: 90%;
    margin-left: 4%;
    margin-top: 3%;
    color: #707070;
    text-align: center;
}
tr th {
    height: 25px;
}
tr td {
    background-color: rgba(214, 214, 214, 0.16);
    height: 25px;
}
.edit {
    background-image: url(../Pict/edit_icon.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}
.dali {
    width: 11%;
    height: 6%;
    display: flex;
    margin: 2% auto;
    margin-bottom: 1%;
    box-sizing: border-box;
}
.box1, .box2 {
    width: 33%;
    height: 100%;
    border: 1px #707070 solid;
    box-sizing: border-box;
    display: flex;
}
.box2 {
    background-color: #00BFFF;
    color: #F5F5F5;
    font-weight: 700;
    font-size: 14px;
    padding-top: 3%;
    padding-left: 10%;
}
.box11, .box12 {
    width: 100%;
    height: 100%;
    background-image: url(../Pict/Icon-right.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}
.box12 { background-image: url(../Pict/Icon-right1.png);}
.bord { border-bottom: 1px #707070 solid;}
.form5 {
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
    padding: 0;
    box-sizing: border-box;
}
.form31 {
    width: 25%;
    height: 100%;
}
input[id="N1"], input[id="N2"], input[id="N3"], select[id="star"] {
    width: 90%;
    height: 60%;
    border: 1px #707070 solid;
    border-radius: 5px;
    text-align: left;
    font-size: 16px;
}
label[for="N1"], label[for="N2"], label[for="N3"], label[for="star"], label[for="N6"] {
    color: black;
    font-weight: 700;
}
.form6 {
    width: 80%;
    height: 60px;
    margin-left: 4%;
    margin-top: 3%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form61, .form62 {
    width: 55%;
    height: 100%;
    display: inline-block;
}
.form62 {
    width: 38%;
    display: flex;
    justify-content: space-between;
}
input[id="N6"] {
    width: 70%;
    height: 50%;
    border: none;
    border-bottom: 1px #707070 solid;
    margin-top: 10px;
}
.kv1, .kv2, .kv3 {
    width: 60px;
    height: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../Pict/quen.png);
    display: flex;
}
.kv {
    width: 25%;
    height: 25%;
    color: black;
    font-weight: 700;
    font-size: 16px;
    position: relative;
    top: 45%;
    left: 30%;
}

