body {
    background-color: #F5F5F5;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
.wrapper {
    max-width: 1000px;
    min-width: 600px;
    height: 600px;
    background-color: white;
    margin: 80px auto;
    box-sizing: border-box;
}
.one {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5%;
    box-sizing: border-box;
    justify-content: space-between;
}
.col_1, .col_2, .col_3 {
    width: 48%;
    height: 100%;
    box-sizing: border-box;
}
.col_1 {
    display: flex;
    justify-content: center;
    padding-top: 90px;
}
.col_2 {
    width: 0.6%;
    background-color: #FFA500;
}
.logo {
    width: 45%;
    height: 45%;
    background-image: url(../Pict/Cero\ Mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.col_3 {
    box-sizing: border-box;
    padding-left: 10%;
    padding-top: 32%;
}
.start {
    width: 70%;
    height: auto;
}
input {
    width: 100%;
    height: 35px;
    border: 1px solid #707070 ;
    margin-bottom: 20px;
}
.vhid1 {
    float: right;
    margin-top: 20px;
}
.vhid {
    background-color: #00BFFF;
    border: 1px #00BFFF solid;
    border-radius: 3px;
    padding: 5px 25px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.nazva {
    color: #969697;
}
