body {
    background-color: #F5F5F5;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
.wrapper {
    max-width: 1000px;
    min-width: 600px;
    height: 600px;
    background-color: white;
    margin: 80px auto;
    box-sizing: border-box;
    padding: 2%;
}
header {
    width: 100%;
    height: 16%;
}
.level_1 {
    width: 100%;
    height: 50%;
    background-color: #155767;
    box-shadow: 0 2px 2px #707070;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.logo {
    width: 15%;
    height: 100%;
    background-color: white;
    border: 1px #155767 solid;
    float: left;
    border-radius: 0 50px 50px 0;
    box-shadow: 1px 0 #707070;
}
.znaki {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 2%;
    align-items: center;
}
.z1, .z2, .z3, .z4 {
    width: 20px;
    height: 20px;
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
}
.z1 {
    background-image: url(../Pict/header/Icon-home.png);
    margin-top: 5px;
    width: 35px;
}
.vibir2 {
    display: flex;
    box-sizing: border-box;
    color: #F5F5F5;
    font-size: 14px;
    align-items: center;
}
.z2 {
    background-color: #F5F5F5;
    border: 1px #F5F5F5 solid;
    border-radius: 50%;
    background-image: url(../Pict/header/Icon-image.png);
    background-size: 60%;
    background-position: center;
    display: block;
    align-items: center;
    margin-right: 7px;
}
.z3 {
    background-image: url(../Pict/header/Icon-notifications.png);
}
.z4 {
    background-image: url(../Pict/header/Icon-logout.png);
}
.level_2 {
    width: 25%;
    height: 35%;
    float: right;
    margin-top: 7px;
    display: flex;
    border: 1px #707070 solid;
}
.level_2_1, .level_2_2 {
    width: 85%;
    height: 100%;
    background-color: #00BFFF;
    box-sizing: border-box;
    padding: 7px 25px;
}
.ref {
    color: #F5F5F5;
    text-decoration: none;
    font-weight: 700;
}
.level_2_2 {
    width: 15%;
    background-color: black;
    border: 1px #707070 solid;
    padding: 0;
    display: flex;
    
}
.level_2_21 {
    width: 100%;
    height: 100%;
    background-image: url(../Pict/header/Icon-refresh.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    
}
main {
    width: 100%;
    height: 84%;
    display: flex;
    justify-content: space-between;
}
.navi, .cont {
    width: 25%;
    height: 100%;
    border: 1px #707070 solid;
    display: flex;
    box-sizing: border-box;
}
.navi_l {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25%;
    box-sizing: border-box;
}
.n1, .n2, .n3, .n4, .n5, .n6 {
    width: 55%;
    height: 30px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
}
.n1 { background-image: url(../Pict/navi/Icon_1.png); }
.n2 { background-image: url(../Pict/navi/Icon_2.png); }
.n3 { background-image: url(../Pict/navi/Icon_3.png); }
.n4 { background-image: url(../Pict/navi/Icon_4.png); }
.n5 { background-image: url(../Pict/navi/Icon_5.png); }
.n6 { background-image: url(../Pict/navi/Icon_6.png); }
.navi_r {
    width: 75%;
    height: 100%;
    padding-top: 22%;
    box-sizing: border-box;
}
ul { list-style: none; margin-left: -40px; }
.navi_m {
    text-decoration: none;
    text-transform: none;
    color: black;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
}
.bold { font-weight: 700; }
.cont {
    width: 75%;
    height: auto;
    padding: 1%;
    box-sizing: border-box;
    flex-direction: column;
}
.cpo {
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.cpo_l {
    width: 40px;
    height: 40px;
    background-image: url(../Pict/MAN.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-y: 7px;
    background-position-x: 3px;
    }
.cpo_l1 { float: left; font-weight: 700; color: #707070; }
.cpo_r {
    width: 33%;
    height: 100%;
    position: relative;
    left: 53.5%;
    display: flex;
    justify-content: space-between;
}
.cpo_r0, .cpo_r01 {
    width: 47%;
    height: 100%;
    background-color: #707070;
    border-radius: 4px;
    box-sizing: border-box;
    padding-top: 3%;
    padding-left: 15%;
}
.cpo_r01 {background-color: #00BFFF; padding-left: 17%}
.cpo_r1, .cpo_r2 {
    color: #F5F5F5;
    text-decoration: none;
    font-weight: 700;
}
form {
    width: 70%;
    height: auto;
    margin-left: 5%;
    margin-top: 5%;
    color: #707070;
}
input, .form2 > input { 
    width: 100%; 
    height: 25px; 
    box-sizing: border-box; 
    margin-bottom: 15px;
    padding-left: 15px;
}
.form1 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.form2 {
    width: 40%;
    height: 75%;
}
label { margin-left: 10px; }
.token {
    width: 100%;
    height: 25px;
    border: 1px #707070 solid;
    margin-top: 2px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
input[id="F6"] {
    width: 65%;
    height: 100%;
    border: none;
    outline: none;
    vertical-align: middle;
}
input[type="submit"] {
    width: 35%;
    height: 100%;
    background-color: #00BFFF;
    border: none;
    color: #F5F5F5;
    font-weight: 700;
    background-image: url(../Pict/Klyuch.png);
    background-repeat: no-repeat;
    background-size: 12%;
    background-position-y: 7px;
    background-position-x: 5px;
}

